@font-face {
    font-family: fira_code;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('../static/Fira_Code/FiraCode-VariableFont.ttf') format('woff');
}

body {
    font-family: fira_code, monospace;
    font-size: 36pt;
    margin:0px;
    color:white;
    background-color: black;
}
#wrapper
{
    height:100%;
}
#output{
    position: absolute;
    margin: 0 50px;
    bottom: 5em;
}
#output>span{
    white-space: pre-wrap;
}
#input{
    margin: 0 50px;
    position: absolute;
    bottom:1em;
}
#input::before{
    content:">>";
    animation: blinker 0.6s linear infinite;
}
#input label{
    position:absolute;
    bottom:1.5em;
    left:0;
    color:dimgrey;
}
#input label::before{
    /*content:">> ";*/
}
@keyframes blinker {
    50% { opacity: 0; }
}
#input > input{
    color: inherit;
    -webkit-appearance: unset;
    background-color: transparent;
    font: inherit;
    border: none;
    outline:none;
    width:80vw;
}
#input > input:focus
{
    outline:none;
}
.color{
    color:salmon;
}